@font-face {
    /*the font family name provided is ingored by javafx, use the name in the file, which in this instance is 'Seven Segment'*/
    font-family: 'Seven Segment';
    src: url('../fonts/Segment.ttf');
}

/* segment figital font for displays */
#display {
    -fx-font-family: 'Seven Segment';
    font-family: 'Seven Segment';
}